.htxt{
    color:#b3b3cf;
    text-align: center;
    font-size: 100px;
    display: flex;
}

.ntxt{
    color:rgb(17, 63, 92);
    font-size: 25px;
    display: flex;
}

.mtxt{
    color:rgb(42, 6, 61);
    display: flex;
}

.ftxt{
    color:rgb(61, 53, 109);
    text-align: end;
}

ul{
    color: rgb(52, 49, 120);
    font-size: 20px;
}

header{
    background-color: #7474b0;
    display: flex;
}

.flex-container{
    background-color: #7474b0;
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #7474b0;
  }